{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="Stats">
<head>
    <meta charset="UTF-8">
    <title>ASF-1158</title>

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/stats/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stats/datepicker.css' %}">
    <link  rel="stylesheet" href="{% static 'js/stats/vendor/amcharts/plugins/export/export.css' %}">

</head>
<body ng-controller="homeCtrl">

  <div ng-init="loadGraphList()">
    <div class="container">
      <div class="outer-wrapper row">
        <div class="wrapper" open>
          <header>
            <button type="button" class="btn btn-lg menu-toggle" ng-click="openSettings($event)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <h2 class="graph-title">[[graph_1.title]]</h2>
            <nav class="main-navigation">
              <ul>
                <li>
                  <div role="group" class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-block dropdown-toggle">Day<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li>Hour</li>
                      <li>Week</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="input-group"><span class="input-group-addon">From: </span>
                    <input type="text" placeholder="Username" class="form-control"/>
                  </div>
                </li>
                <li>
                  <div class="input-group"><span class="input-group-addon">To: </span>
                    <input type="text" placeholder="Username" class="form-control"/>
                  </div>
                </li>
                <li>
                  <label>
                    <input type="checkbox"/><span>Average Execution Time</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"/><span>Maximum Execution Time</span>
                  </label>
                </li>
                <li>
                  <button type="button" class="btn btn-lg btn-block" ng-click="openSettings($event)">Load</button>
                </li>
              </ul>
            </nav>
          </header>
          <main>
            <h4 class="graph-descr">[[graph_1.description]]</h4>
            <div id="graph-container-1" ng-init="loadGraph(1, 'graph-container-1')"></div>
          </main>
        </div>
      </div>
    </div>
  </div>


  <!-- div class="container">

    <div ng-init="loadGraphList()">

      <div class="outer-wrapper row" ng-repeat="graph in graphs">
        <div class="wrapper" open>
          <header>
            <button type="button" class="btn btn-lg menu-toggle" ng-click="openSettings($event)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <h2 class="graph-title">[[graph.title]]</h2>
            <nav class="main-navigation">
              <ul>
                <li>
                  <div role="group" class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-block dropdown-toggle">Day<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li>Hour</li>
                      <li>Week</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="input-group"><span class="input-group-addon">From: </span>
                    <input type="text" placeholder="Username" class="form-control"/>
                  </div>
                </li>
                <li>
                  <div class="input-group"><span class="input-group-addon">To: </span>
                    <input type="text" placeholder="Username" class="form-control"/>
                  </div>
                </li>
                <li>
                  <label>
                    <input type="checkbox"/><span>Average Execution Time</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"/><span>Maximum Execution Time</span>
                  </label>
                </li>
                <li>
                  <button type="button" class="btn btn-lg btn-block" ng-click="openSettings($event)">Load</button>
                </li>
              </ul>
            </nav>
          </header>
          <main>
            <h4 class="graph-descr">[[graph.description]]</h4>
            <div id="graph-container-[[graph.id]]" ng-init="loadGraph(graph.id, 'graph-container-' + graph.id)"></div>
          </main>
        </div>
      </div>

    </div>

  </div> -->


  <!-- JS -->
  <script src="{% static 'js/stats/vendor/jquery-1.11.3.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Angular -->
  <script src="{% static 'js/stats/vendor/angular.min.js' %}"></script>
  <script src="{% static 'js/stats/app.js' %}"></script>
  <script src="{% static 'js/stats/controllers/HomeCtrl.js' %}"></script>
  <script src="{% static 'js/stats/services/DataService.js' %}"></script>
  <script src="{% static 'js/stats/services/ChartService.js' %}"></script>
  <script src="{% static 'js/stats/services/ReportService.js' %}"></script>
  <script src="{% static 'js/stats/directives/directives.js' %}"></script>


  <!-- Datepicker -->
  <script src="{% static 'js/stats/vendor/bootstrap-datepicker.js' %}"></script>

  <!-- AmCharts -->
  <script src="{% static 'js/stats/vendor/amcharts/amcharts.js' %}"></script>
  <script src="{% static 'js/stats/vendor/amcharts/serial.js' %}"></script>
  <script src="{% static 'js/stats/vendor/amcharts/plugins/export/export.js' %}"></script>
  <script src="{% static 'js/stats/vendor/amcharts/plugins/export/examples/export.config.default.js' %}"></script>
  <script src="{% static 'js/stats/vendor/amcharts/dark.js' %}"></script>
  <script src="{% static 'js/stats/vendor/amcharts/dark.js' %}"></script>


</body>
</html>