{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My DB Test</title>

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
    <header class="container">
        <div class="row">
            <h1 class="header-title">Stats ASF-1158</h1>
            <a href="#" class="btn btn-default btn-block load">Load Graphs</a>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container-1"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="container-2"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="container-3"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container-4"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="container-5"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="container-6"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container-7"></div>
                <div class="loader">
                    <div class="content">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <h1 class="loader-text">Loading...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Highcharts -->
    <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{% static 'js/vendor/dark-theme.js' %}"></script>
    <!-- taffy.js -->
    <script src="{% static 'js/vendor/taffy-min.js' %}"></script>
    <script src="{% static 'js/vendor/taffy.extend.js' %}"></script>
    <!-- Moment.js -->
    <!--<script src="{% static 'js/vendor/moment.min.js' %}"></script>-->


</body>
</html>